## Comments in Python

In [1]:
# this is a comment
### this is also a comment

In [2]:
'''this is also a comment
but this has multiple
lines and can have multiple 
sentences and paragraphs
'''

'this is also a comment\nbut this has multiple\nlines and can have multiple \nsentences and paragraphs\n'

To display output

In [3]:
print('hello world')

hello world

In [4]:
'HELLO WORLD'

'HELLO WORLD'

In [5]:
print("hello world")

hello world

In [6]:
print('''hello world
multi line 
print''')

hello world
multi line
print

## ARITHMETIC IN PYTHON

#### Basic Arithmetic in Python- 1)Numbers in Python - INTEGER(both +ve and -ve numbers), Floating Point number (decimal numbers) -2) Basic Arithmetic Operations

In [7]:
## To Print in Python
##
print("this is arithmetic add")
print(1+2)
print(3+4)
print(3+10+2)

this is arithmetic add
3
7
15

In [8]:
## Addition
## recommend a print statement
print(1 + 2)
print(3 + 4)

### the output of 3+4 overrides the output of 1+2

3
7

In [9]:
1+3
4+2

6

In [10]:
### Subtraction
print ( 100-200 )
print(40-29)

-100
11

In [11]:
### Multiplication

print(10*3)
print(30*8)

30
240

In [12]:
### Division

print(2/3)
print(-200/19)
print(-100/-10)

0.6666666666666666
-10.526315789473685
10.0

In [13]:
### Floor division ### Quotient
## the // operator it trucates the decimal without roundind and returns only whole number

print(7.0//3.5)

2.0

In [14]:
### Modulo -- remainder
print(7.0 % 4)

3.0

In [15]:
x=300/20
print(x)
print(type(x))

15.0
<class 'float'>

In [16]:
### powers
print(2**4)

16

In [17]:
print(2**-3)

0.125

In [18]:
print(2**0.5)

1.4142135623730951

In [19]:
print(7/3.5)

2.0

In [20]:
print(4/2)

2.0

In [21]:
## Without decimal
print(4//2)

2

### BODMAS (Bracket, Orders(numbers involving powers and square root, division, multiplication,addition,subtraction))

In [22]:
print(2 + 10 * 10 + 3)

105

In [23]:
print((2+10)*(10+3))

156

In [24]:
print((2*3)+3**2-10)

5

In [25]:
print((0.1+0.2)-(0.3))
## ideally we should get a zero.
## python and our computers follow what is called as "floating point accuracy"
## even though for the naked eye, the answer is zero , python returns a number which extremely closer to zero, 
#### but not exactly zero
#### 5.551115123125783e-17 can be translated as = 1/5.551115123125783 e**17

5.551115123125783e-17

In [26]:
1.1-1.1

0.0

In [27]:
### 
#1/(5.5511115120)e**17 =  0.000000000005511

### Arithmetic in Python--- end

#### Variables in Python
Variables are objects that holds a value.
eg: var1=100 ->100 is assigned to variable 'var1'

#### internally what happens
var1 is assigned an address in the memory and the value of 100 is assigned to var1.

Rules in Python:
Rules in Python for variable names The names you use when creating these labels need to follow a few rules:

    1.Names can not start with a number.
    2.There can be no spaces in the name, use _ instead. WRONG - VAR 1 RIGHT - VAR_1
    3.Can't use any of these symbols :'",<>/?|()!@#$%^&*~-+
    4.It's considered best practice (PEP8) that names are lowercase.
    5.Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), or 'I' (uppercase letter eye) as single character variable names.
    6.Avoid using words that have special meaning in Python like "list" and "str"

In [28]:
### Let us create an object called myvar0 and assign number 5 to it
myvar0 = 5
print(myvar0)

5

In [29]:
myvar00=100
myvar01=200
myVar02=3000
print(myvar00)
print(myvar01)
print(myVar02)

100
200
3000

In [30]:
### definition of a variable happens during an assignment of a value in python.
### assignment is giving value to a variable
### Python is case sensitive

In [31]:
print(myvar02)

NameError: name 'myvar02' is not defined

In [ ]:
_var = 10
print(_var)

In [ ]:
my_var0=5
print(my_var0)

In [ ]:
#variable operation
### variable addition/subtraction/multiplication/division/powers

my_var0=50
my_var1=100

print(my_var0+my_var1)
print(my_var1-my_var0)
print(my_var1*my_var0)
print(my_var0/my_var1)
print(my_var1**my_var0)

### Concept of Dynamic Typing in Python
Type of variable will change based on the value assigned to the variable . It is very powerful, but can be abused if the programmer doesnot take enough precautions

In [ ]:
my_new_var0=100
print(my_new_var0)

In [ ]:
## to check the data type of a variable
type(my_new_var0)

In [ ]:
##assign a decimal value to the variable my_new_var0
my_new_var0 =199.99
print(my_new_var0)

In [ ]:
type(my_new_var0)

In [ ]:
### create a string
my_new_var0='this is a string'
print(my_new_var0)

In [ ]:
type(my_new_var0)

In [ ]:
## assign a list to the variable which had string earlier
my_new_var0=[1,2,3]
print(my_new_var0)
print(type(my_new_var0))

### re assignment of variables
Concept of operating with a variable and assigning the output of operation to the same variable

In [ ]:
## reassignment
my_var2=10
my_var2=my_var2+my_var2
print(my_var2)

In [ ]:
type(my_var2)

In [ ]:
print(my_var2*1000)

In [ ]:
### to know the data type of a variable use type function
print(type(my_var0))

In [ ]:
my_var3 = 'this is a string'
my_var4 = "i am also a string"
print(my_var3)
print(my_var4)
print(type(my_var3))
print(type(my_var4))

In [ ]:
### python follows what is called as "dynamic typing" 
### based on the data assigned the type of the variable can change
my_var4 = 10000
print(my_var4)
print(type(my_var4))

In [ ]:
my_var4 = 999
print(my_var4)
print(type(my_var4))

In [ ]:
my_var4 = '999'
print(my_var4)
print(type(my_var4))

In [ ]:
my_var5 = ' second string '
type(my_var5)

In [ ]:
type(my_var4)

In [ ]:
### string concatenation - two strings are added
#### thumb rule for string concatenation is all the variables must be strings 
my_var6 = my_var4 + my_var5
print(my_var6)
print(type(my_var6))

In [ ]:
### adding a variable of type string to a variable of type number 
### gives an erorr
my_var7 = 100
my_var8 = my_var6 + my_var7
print(my_var8)

### gives an error as below

In [ ]:
print(my_var6,my_var7)

###### example of forced type conversion
  converting from string to list

In [ ]:
type(my_var6)

In [ ]:
my_var6

In [ ]:
print(my_var6)

In [ ]:
### use list function to convert my_var6 string into a list
my_var6= list(my_var6)

In [ ]:
type(my_var6)

In [ ]:
my_var6

### VARIABLES IN PYTHON - END

### Different data types in python

    Strings
    Lists
    Tuples
    Dictionary
    Sets

### Python Data Types are broadly classified as

1) Mutable Data Types - Data types where individual items can be changed or updated Lists Dictionary

2) Immutable Data Types -Data types where individual items cannot be changed or updated Numbers Strings Tuples

In [ ]:
mystr = 'abc'

In [ ]:
mystr[0] = 'z'

### STRINGS IN PYTHON - START

-both single and double quotes are allowed. -intermixing of single and double quotes in the same string is not allowed

In [ ]:
### PRINTING A STRING WITHOUT A print function -- possible in jupyter
'hello"

In [ ]:
## Printing with a print function
print('hello')
print("hello i am a string")

In [ ]:
### to print apostrophe
print("hello, i am Kevin O'Donald")

### use of double quotes is imperative when we have strings with characters like apostrophe

In [ ]:
mystr1= "12305"
print(mystr1)
print(type(mystr1))

In [ ]:
### check the length of a string
len(mystr1)

### STRING INDEXING

if we want to find specific characters in the string or do operations with every or all character in a string, indexing is used index in python starts at 0

In [ ]:
mystr1 = 'hello world'
print(mystr1)

business use case for reverse index

assume you are a business owner and you want to find the average daily sales for the month, start with today and go all the way to the first of the month

1) create a list with daily sum sales as 1 item in the list 2) your list has 30 items (1 item per day , item is the value of avg sales) 3) list might look like this [100,200,300,400,0,200,500,300......]

4) we want to calcualte avg sales starting from last day of the month go to first day 5) We can easily use reverse index, start with the last item and go all the way till first item in the list

In [ ]:
### to find the length of string mystr1. length is inclusive of space
len(mystr1)

internal arrangement of characters and indexes in a string
letter index reverse index

    h 0 -11
    e 1 -10
    l 2 -9
    l 3 -8
    o 4 -7
    5 -6
    w 6 -5
    o 7 -4
    r 8 -3
    l 9 -2
    d 10 -1

In [ ]:
### value of my string
print(mystr1)

In [ ]:
## length of mystring
print(len(mystr1))

In [ ]:
## type of my string
print(type(mystr1))

In [ ]:
### to get the first character of a string
print(mystr1[0])

In [ ]:
### to get the seecond char
print(mystr1[1])

In [ ]:
### to get the seecond char using reverse index
print(mystr1[-10])

In [ ]:
### using a reverse index extract h
print(mystr1[-11])

In [ ]:
### to extract w using index 

print(mystr1[6])

### using reverse index
print(mystr1[-5])

In [ ]:
### extract space
print(mystr1[5])
print(mystr1[-6])

In [ ]:
mystr1

In [ ]:
## to extract o
print(mystr1[4])  ##--- index
print(mystr1[-7]) ## -- reverse index
print(mystr1[7])  ## --index 
print(mystr1[-4]) ## -- reverse index

In [ ]:
### to get the 4th character of a string
print(mystr1[3])

In [ ]:
### to get the last character of a string
print(mystr1[10])
print(mystr1[-1])

In [ ]:
print(mystr1)

### STRING SLICING

    slicing captures a slice of a string

    Format of slicing - stringname[start:stop:step]

    start - index from where the slicing should start

    stop - the index we will go up to but does not include

    step - is the size of "jump" we take while slicing

In [ ]:
mystr2 = 'abcdestring'

index notation letter index reverse index a 0 -11 b 1 -10 c 2 -9 d 3 -8
e 4 -7 s 5 -6 t 6 -5 r 7 -4 i 8 -3 n 9 -2 g 10 -1

In [ ]:
print(mystr2)

In [ ]:
### grab the portion of string representing "destrin"
### start = 3, stop = 10
print(mystr2[3:10])

In [ ]:
# grab the portion of string representing "destring"
## start =  3 , stop = 11
print(mystr2[3:11])

In [ ]:
### grab the portion of string representing "des"
print(mystr2[3:6])

In [ ]:
mystr2

In [ ]:
### to grab - abcdes - 2 ways
print(mystr2[0:6])

### 2nd way
print(mystr2[:6])

In [ ]:
print(mystr2[-11:-5])

In [ ]:
### to grab - cdestring - 2 ways
print(mystr2[2:11])

### 2nd way
print(mystr2[2:])

In [ ]:
### step example  - abcdestring
###  start=0,stop=11, step=1 (default)
print(mystr2[0:11:1])

In [ ]:
### step example  - abcdestring

print(mystr2[0:11:2])

In [ ]:
### step example  -string
print(mystr2[5:11])

In [ ]:
###reverse index 
mystr2[0:-1]

#### Mutability and Immutability

Mutable types - lists, dictionary immutable types - strings, tuple

In [ ]:
### STRING IMMUTABILITY

mystr3 = "python is easy to learn"
print(mystr3)

In [ ]:
mystr3 = 'python is difficult to master'
print(mystr3)

In [ ]:
## to get the letter in index 2
mystr3[2]

In [ ]:
mystr3[0:6]

In [ ]:
## if we try to change or update the 2nd index value from z to A

mystr3[2] = 'A'

### strings are immutable as a result..it cannot be changed

### Built in Functions in Strings

In [ ]:
### jupyter trick
### to know about all the method() that can be used with strings,place the cursor after string and . 
### press tab key
##mystr2.

In [ ]:
mystr2

In [ ]:
### length of a string
print(mystr2)
print(len(mystr2))

In [ ]:
### to convert a string from lower case to upper case
print(mystr2)
print(mystr2.upper())

In [ ]:
### jupyter trick
### to know about all the method() that can be used with strings,place the cursor after string and . 
### press tab key
##mystr2.

In [ ]:
### convert to lower case
mystr3 = "I AM LOWER CASE"
print(mystr3.lower())

### TO access python help for any method ..hit shift + tab

In [ ]:
### another way to use methods in strings
print("I AM ALSO LOWER CASE".lower())

In [ ]:
## TO convert the first character of the string to upper 
mystr4 = "example of capitalize"
print(mystr4.capitalize())

In [ ]:
###SPLIT  - splits the string into words
## output is a list
mystr5 = "splits mystr5 to a list"
print(type(mystr5))
print(mystr5)


### after using split method on the string mystr5
print('\n')
mystr5.split()
print(mystr5)
print(type(mystr5))

### check for immutability of mystr5
mystr5[4] = 'T'


### to understand the parameters in the split() method, use jupyter's tricks press shift+tab

In [ ]:

### after using split method on mystr5 and assigning it to a new variable mysplitlist
print('\n')
mysplitlist = (mystr5.split())
print(mysplitlist)
print(type(mysplitlist))

## CHECK FOR MUTABILITY OF A LIST
mysplitlist[0] = 'SPLITS'
print(mysplitlist)

### lists are mutable

In [ ]:
### split method using a separator
mystr05 = "python is a easy languge to learn and difficult to master"
mysplitstr = mystr05.split(maxsplit=3)
print(mysplitstr)

In [ ]:
### split method using a separator
mystr05 = "SPLIT;ME;PLEASE"
mysplitstr= mystr05.split()
print(mysplitstr)

In [ ]:
###SPLIT  - splits the string based on char "E" as delimiter
mystr6 = "SPLIT;ME;PLEASE"
mystr6.split(sep=';')

In [ ]:
### To split by a specific element , splits the string based on the iterable giving within paranthesis
### but removes the iterable from the output 

mystr7= "split by a specific item in the string"
mystr7.split('it')

In [ ]:
### swapcase() method swaps thee case of alphabetic characters
mystr8 = "THIS is an ExamPLE of SWAP case"
print(mystr8.swapcase())

#### FIND and REPLACE in a STRING

In [ ]:
### count gives the occrences of a given word or character in paranthesis
"find the occurrences of the word the".count('the')

In [ ]:
### count gives the occrences of a given word or character in paranthesis and in the first 10 characters of the string 

print("find the occurrences of the word the".count('the',0,10))

In [ ]:
### count gives the occrences of a given  character in paranthesis and in the first 20 characters of the string 

print("find the occurrences of the word the".count('c',0,20))

In [ ]:
### determine whether the target string ends with a given substring

print('checks the target string ends with a given substring,like,end'.endswith('end'))

In [ ]:
print('checks the target string ends with a given substring,like,end'.endswith('like'))

#### classification

In [ ]:
mystr9 = 'abc123'
mystr10 = '12345%$#&'
mystr11 = '1234.56'
mystr12= 'ABcdE'
mystr13='6789'

In [ ]:
### to check if a string has all alphanumeric characters
print(mystr9.isalnum())

In [ ]:
### to check if a string has all alphanumeric characters
print(mystr10.isalnum())

In [ ]:
### to check if all characters are alphabets
print(mystr9.isalpha())

In [ ]:
### to check if all characters are alphabets
print(mystr12.isalpha())

In [ ]:
### checks if all the characters in a string is a digit or not
print(mystr9)
print(mystr9.isdigit())

In [ ]:
### checks if the all the characters in a string is a digit or not
print(mystr13)
print(mystr13.isdigit())

### Exercise

1) try out every built-in function used with strings 2) pass a string to a variable , check for immutability, check for validations like alphanum, or alpha or digits. and if it has special characters

In [ ]:
my_ex="This is my first test"

In [ ]:
my_ex.isalnum()

In [ ]:
my_ex.isalpha()

In [ ]:
my_ex.isdigit()

In [ ]:
my_ex[4]='Hi'

In [ ]:
# import required package 
import re 
  
# Function checks if the string 
# contains any special character 
def run(string): 
  
    # Make own character set and pass  
    # this as argument in compile method 
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]') 
      
    # Pass the string in search  
    # method of regex object.     
    if(regex.search(string) == None): 
        print("String is not a special character") 
          
    else: 
        print("String is a special character.")

In [ ]:
run(my_ex)